<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.extension.domain.extension.repository.ExtensionRepository">
    
    <select id="findAll" resultType="Extension">
        SELECT *
        FROM extension
        ORDER BY id
    </select>

    <insert id="insertExtension" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO extension (name)
        VALUES (#{name})
    </insert>

    <delete id="deleteExtension">
        DELETE FROM extension
        WHERE name = #{name}
    </delete>

    <select id="findByName" resultType="Extension">
        SELECT *
        FROM extension
        WHERE name = #{name}
    </select>
</mapper>